body {
	padding-top: 50px;
}
.starter-template {
	padding: 40px 15px;
	text-align: center;
}

h2 + h5 {
	margin-bottom: 20px;
}
.block {
	position: relative;
}
.block  .btn {
	margin: -5px 0 15px 10px;
	padding-left: 20px;
	padding-right: 20px;

	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
}
@media (max-width: 992px){
	.block  .btn {
		position: static;
		margin: 0 0 20px;
		-webkit-transform: none;
	}
}
.block .btn:focus {
	outline: 0;
}
.block--test {
	padding-top: 50px;
}